@use "../../scss/variables/colors" as *;

.section-title {
  display: flex;
  align-items: center;
  padding: 2px 7px;
  background-color: $cyanColor;
  width: fit-content;
  border-radius: 10px;
  user-select: none;
  .section-icon {
    font-size: 25px;
    color: $orangeColor;
    margin-right: 5px;
  }
  h1 {
    font-size: 25px;
    color: $darkColor;
    font-weight: normal;
  }
}
