@use "../../../scss/variables/colors" as *;

@mixin satellites {
  .satellites {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    h3 {
      margin-bottom: 20px;
      padding: 10px 30px;
      background-color: $orangeColor;
      border-radius: 5px;
      user-select: none;
      @media (min-width: 1400px) {
        margin-bottom: 25px;
      }
    }
    .checkboxes {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      .box {
        @media (min-width: 1400px) {
          text-align: center;
        }
        @media (max-width: 468px) {
          text-align: center;
        }
        label {
          margin-right: 5px;
        }
      }
    }
  }
}
