@use "../../scss/variables/colors" as *;
@use "./sections/fileinfo" as *;
@use "./sections/timeseries" as *;
@use "./sections/coordinates" as *;
@use "./sections/satellites" as *;

.downloadimagery {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
  @media (max-width: 768px) {
    min-height: calc(100vh - 220px);
  }
  form {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
    gap: 40px;
    @media (min-width: 1400px) {
      margin-bottom: 25px;
    }
    @include fileInfo;
    @include timeSeries;
    @include coordinates;
    @include satellites;
    .f-btn {
      margin: 60px;
    }
  }
}
