@use "../../../scss/variables/colors" as *;

@mixin second {
  .second {
    @media (max-width: 520px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}
