@use "../../scss/variables/colors" as *;
@use "./sections/first" as *;
@use "./sections/second" as *;

.get-lt-sh {
  min-height: calc(100vh - 150px);
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
    @include first;
    @include second;
    .f-btn {
      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }
}
