@use "../../../scss/variables/colors" as *;

@mixin epsgCode {
  .ep-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @media (max-width: 420px) {
      flex-direction: column;
      margin-top: 10px;
    }
    label {
      @media (max-width: 420px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}
