@use "../../../scss/variables/colors" as *;

@mixin continueTraining {
  .con-train {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .ct-box {
      display: flex;
      align-items: center;
      margin-top: 30px;
      @media (max-width: 420px) {
        justify-content: center;
        flex-direction: column;
      }
      label {
        @media (max-width: 420px) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      input {
        &[type="text"] {
          width: 200px;
        }
      }
      &:not(:last-of-type) {
        margin-right: 60px;
        @media (max-width: 768px) {
          margin-right: 0;
        }
      }
    }
  }
}
