@use "../../../scss/variables/colors" as *;

@mixin second-third {
  .second,
  .third {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .box {
      margin-top: 40px;
      @media (max-width: 420px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      label {
        @media (max-width: 420px) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      &:not(:last-of-type) {
        margin-right: 50px;
        @media (max-width: 420px) {
          margin-right: 0;
        }
      }
    }
  }
}
