@use "../../../scss/variables/colors" as *;

@mixin first {
  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    label {
      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}
