@use "../../../scss/variables/colors" as *;

@mixin distance {
  .distance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 25px;
    }
    label {
      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}
