@use "../../../scss/variables/colors" as *;

@mixin nameInfo {
  .name-info {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 820px) {
      flex-direction: column;
    }
    .ni-box {
      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      &:not(:last-of-type) {
        margin-right: 40px;
      }
      @media (max-width: 820px) {
        &:not(:last-of-type) {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
}
