@use "../../../scss/variables/colors" as *;

@mixin alsCSL {
  .alongshore-spacing,
  .cross-shore-length {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 520px) {
      flex-direction: column;
    }
    label {
      @media (max-width: 520px) {
        margin-right: 0;
        margin-bottom: 9px;
      }
    }
    input {
      width: 230px;
    }
  }
}
