@use "../../../scss/variables/colors" as *;

@mixin shapeFile {
  .shoreline-shapefile {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 520px) {
      flex-direction: column;
    }
    .ss-title {
      font-size: 18px;
      user-select: none;
      color: $blueColor;
      margin-right: 9px;
      @media (max-width: 520px) {
        margin-right: 0;
        margin-bottom: 9px;
      }
    }
    label {
      padding: 10px;
      background-color: $yellowColor;
      border-radius: 10px;
      user-select: none;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0px;
        width: 0;
        height: 100%;
        border-radius: 10px;
        background-color: $darkYellowColor;
        transition: 0.3s;
        z-index: 1;
      }
      &:hover::after {
        width: 100%;
        height: 100%;
      }
      i {
        position: relative;
        z-index: 2;
        font-size: 18px;
      }
      span {
        position: relative;
        z-index: 2;
        font-size: 18px;
      }
    }
  }
}
